{% extends 'base.html.twig' %}

{% block title %}Les recettes{% endblock %}

{% block body %}

<div class="slide container-fluid" id="recipes">
   
    
    <div class="container my-3">
    <h1 class="orange">Carnet de recettes</h1>
        <a href="{{path('home')}}"><button class="btn btn-warning m-3">
            <i class="fa-solid fa-arrow-left"></i> Retour à l'accueil</button>
        </a>

        <div class="card categories p-4">
            <p>Filtrer les recettes :</p>
            <div class="row justify-content-md-around">
                <a href="" class="drink btn btn-warning col-md-2 mt-2">
                    <span class="drinkIcon mdi mdi-coffee"></span><br>Les cafés
                </a>
                <a href="" class="drink btn btn-warning col-md-2 mt-2">
                    <span class="drinkIcon mdi mdi-tea"></span><br>Les thés
                </a>
                <a href="" class="drink btn btn-warning col-md-2 mt-2">
                     <i class="drinkIcon fa-solid fa-whiskey-glass"></i><br>Les limonades
                </a>
                <a href="" class="drink btn btn-warning col-md-2 mt-2">
                   <i class="drinkIcon fa-solid fa-martini-glass-citrus"></i><br>Les moktails
                </a>
                <a href="" class="drink btn btn-warning col-md-2 mt-2">
                    <i class="drinkIcon fa-solid fa-martini-glass"></i><br>Les coktails
                </a>
                
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="orange">Toutes les recettes </h2>
        <div class="row d-flex justify-content-md-around">
            {% for recipe in pagination.data %}
                 {% include "recipes/_recipeCard.html.twig" %}
            {% endfor %}
            
            
        </div>
         {{pagination.display()}}
       
        
    </div>
    

</div>

{% endblock %}
