{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<div class="slidefill container-fluid">
    <h1>Bienvenue dans l'administration</h1>
    <div class="row d-flex justify-content-around card-orange">
       
            <a href="{{path('dashboard_recipes')}}" class="col-md-12 mt-2 btn btn-success">Gestion des recettes</a>
            <a href="{{path('dashboard_users')}}" class="col-md-12 mt-2 btn btn-success">Gestion des utilisateurs</a>
            <a href="{{path('dashboard_comments')}}" class="col-md-12 mt-2 btn btn-success">Gestion des commentaires</a>
            <a href="" class="col-md-12 mt-2 btn btn-success">Gestion des likes</a>
        
    </div>
</div>
{% endblock %}
